

.menu{
 display: flex;
 justify-content: flex-end;
 
}

.esp1{
    margin-right: 5px;
    padding-right: 5px;
}
.esp2{
    margin-right: 5px;
    padding-right: 5px;
}

.esp3{
    margin-right: 5px;
    padding-right: 5px;
}



#is{
    width: 120px;
    height: 40px;
    background-color: rgb(73, 112, 240);
    border-radius: 3px;
    margin-left: 10px; 
    color: aliceblue;
    text-align: center;
    align-items: center;

}


.logo{
    margin-left: 600px;
    margin-right: 600px;
    padding-top: 250px;   
}

.buscador{
    width: 500px;
    height: 40px;
    padding-left: 200px;
    background-color: rgba(245, 238, 228, 0.541);
    border-radius: 30px;
    border: 1px solid rgb(204, 199, 199);
    margin-left: 400px;
    position: relative;
}

.lupa {
    position: absolute;
    top: 5px;
    left: 8px;
}

.mic{
    position: absolute;
    top: 5px;
    margin-left: 470px;
    justify-content: end; 
   
}

.buttom{
 margin: 20px;
 justify-content: center;
 
}

.buscar{
  height: 30px;
  margin-left: 620px; 
  flex-basis: 50%;
}

.suerte{
  height: 30px;  
}

.Esp{
    top: 150px;
    margin-left:600px;
   
}


#buscador{
    width: 480px;
    height: 40px;
    margin-left: -150px;
    background-color: rgba(245, 238, 228, 0.541);
    border: none;
    outline:none;


    
}


/* footer{
    padding-top: 150px;
    align-items: flex-end;
    justify-content: end;
} */


footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    align-items: center;
    font-size: 13px;
    background-color: #F2F2F2;
    border-top: 1px solid #E4E4E4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 17px;
    }

    ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
    }

    .izquierda {
    margin-left: 10px;
    
    }

    .derecha{
    margin-right: 10px;
    }

    footer a{
    margin: 10px;
    color: #5F6368;
    text-decoration: none;
    }

    .arg{
        color: #5F6368;
        text-decoration: none;  
    }

    .foot{
       background-color:#F2F2F2;
       margin-top: 130px;
       padding-left: 15px;
       padding-bottom: 15px;
       padding-top: 5px;
       font-size: 17px;
    }